<div class="flex justify-center items-center mt-[70px] flex-col gap-7">
  <h1 class="text-culoareFont text-4xl md:text-4xl">D&A</h1>
  <div class="text-culoareFont text-xl flex items-center justify-center">
    DIGITAL MARKETING AGENCY
  </div>
</div>
<div class="text-6xl flex justify-end mr-10 mt-[100px]">VIZUAL</div>
<div
  class="text-culoareFont text-lg mt-[80px] flex justify-center items-center p-8 flex-col gap-8"
>
  <div class="text-center">
    Ai o afacere bună, care aduce un plus valoare societății, dar nu reușești să
    ajungi la publicul tău?
  </div>

  <div>Ești la un click distantă de soluție!</div>
</div>

<div class="flex flex-col gap-12 justify-center items-center">
  <button class="text-white text-5xl">
    <i class="fa-regular fa-paper-plane"></i>
  </button>
  <button
    class="text-white text-lg right-4 ml-[10px] md:ml-[100px] md:text-base"
  >
    <i class="fa-solid fa-seedling"></i>
    Solicită ofertă personalizată
  </button>
</div>
