<div class="py-20">
  <h1 class="text-3xl px-5 text-white font-bold text-center">
    5
    <a class="text-xl text-culoareFont">
      motive pentru care ai nevoie de Social Media în business-ul tău:
    </a>
  </h1>

  <div class="flex flex-col">
    <div
      class="flex flex-col justify-center items-center border-t border-b border-black mt-10 py-5"
    >
      <h1 class="text-xl text-culoareFont">1. Conținut divers:</h1>
      <a class="text-center text-base text-white rouded-full mt-4">
        SM este un spațiu liber poți adapta comunicarea la publicul tău
        țintă.</a
      >
    </div>
    <div
      class="flex flex-col justify-center items-center border-b border-black mt-5 pb-5"
    >
      <h1 class="text-xl text-culoareFont">
        2. Nivel crescut de vizibilitate:
      </h1>
      <a class="text-center text-base text-white rouded-full mt-4">
        Conținutul potrivit adaptat la canalele potrivite se poate viraliza ușor
        asigurându-ți un nivel mare de vizibilitate.</a
      >
    </div>
    <div
      class="flex flex-col justify-center items-center border-b border-black mt-5 pb-5"
    >
      <h1 class="text-xl text-culoareFont">3. Colaborări cu Influenceri:</h1>
      <a class="text-center text-base text-white rouded-full mt-4">
        Permit brandurilor să atingă audiențe specifice și să beneficieze de
        încrederea pe care influencerii o au în rândul fanilor lor.</a
      >
    </div>
    <div
      class="flex flex-col justify-center items-center border-b border-black mt-5 pb-5"
    >
      <h1 class="text-xl text-culoareFont">4. Crearea unei comunități:</h1>
      <a class="text-center text-base text-white rouded-full mt-4">
        Prin intermediul instrumentelor SM și a comunicării constante, brandul
        reușește să creeze o comunitate și să interacționeze constant cu ea.</a
      >
    </div>
    <div
      class="flex flex-col justify-center items-center border-b border-black mt-5 pb-5"
    >
      <h1 class="text-xl text-culoareFont">5. Feedback în timp real:</h1>
      <a class="text-center text-base text-white rouded-full mt-4">
        Utilizând platformele de socializare, brandurile primesc și răspund
        feedback-ului clienților în timp real, construind o reputație solidă și
        arătând angajament față de îmbunătățire continuă.</a
      >
    </div>
  </div>

  <h1 class="text-xl text-culoareFont font-bold text-center py-10">
    Iată ce putem face pentru tine!
  </h1>
  <div class="flex flex-col pl-3">
    <div
      class="text-culoareFont text-base mb-3 text-start"
      *ngFor="let x of texte"
    >
      <i class="fa-solid fa-check text-white"></i>
      {{ x }}
    </div>
  </div>
</div>
