/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Agrandir";
  /* background-color: #0a373b; */
  /* background: rgb(12, 99, 93);
  background: radial-gradient(
    circle,
    rgba(12, 99, 93, 1) 0%,
    rgba(10, 55, 59, 1) 100%
  ); */

  background: rgb(12, 99, 93);
  background: radial-gradient(
    circle,
    rgba(12, 99, 93, 1) 6%,
    rgba(10, 55, 59, 1) 70%
  );
}
